{% case icon %}
  {% when 'prev' %}
    <div class="icon--root icon--prev">
      <div></div>
      <div></div>
      <div></div>
    </div>

  {% when 'next' %}
    <div class="icon--root icon--next">
      <div></div>
      <div></div>
      <div></div>
    </div>
{% endcase %}
