<div class="modal--window">
  <div
    class="modal--mask"
    data-js-class="Transition"
    data-transition="at_start"
  ></div>
  <div class="modal--container"></div>
  <div class="modal--close" tabindex="0">
    {% render 'framework--icons', icon: 'cross' %}
  </div>
  <div class="modal--prev">
    {% render 'framework--icons', icon: 'chevron-left' %}
  </div>
  <div class="modal--next">
    {% render 'framework--icons', icon: 'chevron-right' %}
  </div>
</div>