<div class="mx--auto lg--up--seven-eighths">
  <div class="grid">
    <div class="grid__item lg--up--two-fifths">
      <h1 class="f--heading font-size__heading m0">{{ page.title }}</h1>
    </div>
    <div class="grid__item lg--up--three-fifths mt3 lg--up--mt0">
      <div class="rte font-size__basic">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>