<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <!-- Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter line-height--7 font-size--xs color--active--meta fixed top--0 left--0 mt2 ml2"></div>

                <button class="pswp__button pswp__button--close fixed top--0 right--0 mt2 mr2 btn btn--plain hv--active-accent color--active-text pointer" title="Close (Esc)">{% render 'icon-close' %}</button>

                <div class="pswp__preloader absolute top--0 left--0 ml2">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <button class="pswp__button pswp__button--arrow--left fixed left--0 md--up--ml3 md--dn--ml2 md--up--top--half md--dn--bottom--0 md--dn--mb3 btn btn--plain hv--active-accent color--active-text" title="Previous (arrow left)">{% render 'icon-previous' %}
            </button>

            <button class="pswp__button pswp__button--arrow--right fixed right--0 md--up--mr3 md--dn--mr2 md--up--top--half md--dn--bottom--0 md--dn--mb3 btn btn--plain hv--active-accent color--active-text" title="Next (arrow right)">{% render 'icon-next' %}
            </button>

        </div>

    </div>

</div>