{% comment %}
/**************************************************
* DO NOT MODIFY THIS FILE!!!                      *
* IT WILL BE OVERWRITTEN BY UPDATES FROM GROWAVE! *
**************************************************/
{% endcomment %}
{% assign gwSettings = shop.metafields.ssw['settings'] %}
{% if gwSettings.type == 'json' %}
	{% assign gwSettings = shop.metafields.ssw['settings'].value %}
{% endif %}
{% if shop.customer_accounts_enabled or gwSettings.wishlist_users_only != 1 %}
	{% assign customer_locale = shop.locale | prepend: 'lang_' %}
	{% unless shop.metafields.ssw[customer_locale] %}
		{% for published_locale in shop.published_locales %}
			{% if published_locale.primary == true %}
				{% assign customer_locale = published_locale.iso_code | prepend: 'lang_' %}
			{% endif %}
		{% endfor %}
	{% endunless %}
	{% assign ssw_fave_enabled = 1 %}
	{% if shop.metafields.ssw['fave_enabled'] %}
		{% assign ssw_fave_enabled = shop.metafields.ssw['fave_enabled'] | plus: 0 %}
	{% endif %}
	{% if ssw_fave_enabled == 1 %}
		<a class="ssw-link-fave-menu ssw-link-fave-menu-hide-count" href="/pages/wishlist" aria-label="{{ shop.metafields.ssw[customer_locale].value.my_faves }}" tabindex="0">
			<i class="ssw-icon-heart-o"></i>
			<span class="ssw-counter-fave-menu ssw-hide"></span>
		</a>
		<script defer>
			var sswFaveCounterMenuLoaded = true;
		</script>
	{% endif %}
{% endif %}