{% comment %}
/**************************************************
* DO NOT MODIFY THIS FILE!!!                      *
* IT WILL BE OVERWRITTEN BY UPDATES FROM GROWAVE! *
**************************************************/
{% endcomment %}
{% assign gwSettings = shop.metafields.ssw['settings'] %}
{% if gwSettings.type == 'json' %}
  {% assign gwSettings = shop.metafields.ssw['settings'].value %}
{% endif %}
{% if gwSettings.auto_integrate_login == 1 %}
<script>var sswAutoIntegrate = true;</script>
<div style="display: none">
  {% render 'socialshopwave-widget-auth' %}
</div>
{% endif %}