{% comment %}
/**************************************************
* DO NOT MODIFY THIS FILE!!!                      *
* IT WILL BE OVERWRITTEN BY UPDATES FROM GROWAVE! *
**************************************************/
{% endcomment %}
{% assign customer_locale = shop.locale | prepend: 'lang_' %}
{% unless shop.metafields.ssw[customer_locale] %}
  {% for published_locale in shop.published_locales %}
    {% if published_locale.primary == true %}
      {% assign customer_locale = published_locale.iso_code | prepend: 'lang_' %}
    {% endif %}
  {% endfor %}
{% endunless %}
<div class="ssw-h3">{{ shop.metafields.ssw[customer_locale].value.create_your_account }}</div>
