{%- assign section_color = section.settings.color_scheme -%}


{%- assign heading_fontsize__mobile_full = 'font-size--xxl line-height--7 md--line-height--7 lg--up--font-size--xxxl lg--up--line-height--9 wd--font-size--xxxxl wd--line-height--11' -%}
{%- assign heading_fontsize__mobile_half = 'font-size--xl line-height--6 pm--font-size--xxl pm--line-height--7 lg--up--font-size--xxxl lg--up--line-height--8 wd--font-size--xxxxl wd--line-height--11' -%}
{%- assign font_size = 'font-size--sm md--up--font-size--m line-height--3 lg--up--font-size--ml lg--up--line-height--5' -%}

{%- if section.blocks.size == 0 -%}
  {%- assign collection_count = collections.size -%}
  {%- for collection in collections -%}
    {%- if collection.handle == 'frontpage' -%}
      {%- assign collection_count = collection_count | minus: 1 -%}
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {%- assign collection_count = section.blocks.size -%}
{%- endif -%}

{%- assign remainder =  collection_count | modulo:2 -%}
{%- if remainder == 0 -%}
  {%- assign odd_count = false -%}
{%- else -%}
  {%- assign odd_count = true -%}
{%- endif -%}

{% assign text_position = section.settings.text_position %}

<section class="cascade section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="cascade" data-section-id="{{ section.id }}" {% if settings.fade_in_items %}data-fade-in="true"{% endif %}>
  <div class="max-site-width px2 lg--up--px3">
    <div class="cascading-content">
      <div class="items">
        <div class="item-sizer"></div>
        <div class="column-sizer"></div>

        {% assign col_count_desktop = 1 %}
        {% assign index = 1 %}

        {% assign items = collections %}
        {% assign using_blocks = false %}
        {% if section.blocks.size > 0 %}
          {% assign using_blocks = true %}
          {% assign items = section.blocks %}
        {% endif %}

        {%- for item in items -%}

          {%- assign collection = item -%}
          {%- assign title = collection.title -%}
          {%- assign show_cta = section.settings.show_cta -%}
          {%- assign cta_text = 'collections.general.list_link' | t -%}
          {%- assign heading_class = 'font-size__heading-mobile-full' -%}
          {%- assign local_color = section.settings.overlay_color -%}
          {%- assign text_position = section.settings.text_position -%}

          {%- if using_blocks -%}
            {%- assign collection = collections[item.settings.collection] -%}
            {%- assign title = collection.title -%}
            {%- assign show_cta = item.settings.show_collection_link -%}
            {%- assign cta_text = item.settings.cta_text -%}
            {%- assign local_color = item.settings.text_color -%}
            {%- assign placeholder = true -%}
            {%- if item.settings.collection and item.settings.collection != '' -%}
              {% assign placeholder = false %}
            {%- endif -%}
          {%- endif -%}

          {% unless collection.handle == 'frontpage' and using_blocks == false %}
              {%- if forloop.first and odd_count -%}
                {%- assign block_width_mobile = 'full' -%}
                {%- assign block_width_desktop = 'full' -%}
              {%- else -%}
                {%- assign block_width_mobile = 'full' -%}
                {%- assign block_width_desktop = 'half' -%}
              {%- endif -%}

              {%- if index == 2 and odd_count -%}
                {%- assign first_col_desktop = true -%}
              {%- else -%}
                {%- assign first_col_desktop = false -%}
              {%- endif -%}

              {%- capture mobile_count -%}{%- cycle '1', '2' -%}{%- endcapture -%}

              <div class="item item--desktop--{{ block_width_desktop }} item--mobile--full {% if forloop.first %}item--first{% endif %} {% if first_col_desktop %}first-col--desktop{% endif %} {% if last_col %}item--last{% endif %}  {% if settings.fade_in_items %}fade-in{% endif %}">
                <div class="item__inner {% if block_width_desktop == 'full' %}lg--up--two-thirds lg--up--mx--auto{% endif %}">
                  <div class=" {% if mobile_count == '1' %}md--dn--pr4{% else %}md--dn--pl4{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                    {% if placeholder %}
                      {%- render 'cascade__collection-placeholder',
                          block_width_mobile: item.settings.block_width_mobile,
                          show_cta: show_cta,
                          cta_text: cta_text,
                          heading_class: heading_class,
                          local_color: local_color,
                          text_position: text_position,
                          section_color: section_color,
                      -%}
                    {% else %}
                      {%- render 'collection-item',
                          collection: collection,
                          title: title,
                          block_width_mobile: item.settings.block_width_mobile,
                          show_cta: show_cta,
                          cta_text: cta_text,
                          heading_class: heading_class,
                          local_color: local_color,
                          text_position: text_position,
                          section_color: section_color,
                    -%}
                    {% endif %}
                  </div>
                </div>
              </div>

              {%- assign col_count_desktop = col_count_desktop | plus: 1 -%}
              {%- if col_count_desktop == 5 -%}
                {%- assign col_count_desktop = 1 -%}
              {%- endif %}
              {%- assign index = index | plus: 1 -%}
            {% endunless %}

        {%- endfor -%}


      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collections list page",
  "class": "section-store",
  "settings": [
    {
       "type": "paragraph",
       "content": "All of your collections are listed by default. To customize your list, add collections below."
    },
    {
      "type": "checkbox",
      "id": "show_cta",
      "label": "Show call to action",
      "default": true
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        { "value": "over", "label": "Over image"},
        { "value": "under", "label": "Underneath image"}
      ]
    },
    {
       "type": "select",
       "id": "overlay_color",
       "label": "Overlay text color",
       "info": "Default overlay text color. If using blocks, color is set in each block.",
       "options": [
         { "value": "primary", "label": "Primary text"},
         { "value": "secondary", "label": "Secondary text"},
         { "value": "tertiary", "label": "Tertiary text"},
         { "value": "white", "label": "White"}
       ]
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "blocks" :  [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
           "type": "collection",
           "id": "collection",
           "label": "Choose collection:"
        },
        {
           "type": "select",
           "id": "text_color",
           "label": "Overlay text color",
           "options": [
             { "value": "primary", "label": "Primary text"},
             { "value": "secondary", "label": "Secondary text"},
             { "value": "tertiary", "label": "Tertiary text"},
             { "value": "white", "label": "White"}
           ]
        },
        {
          "type": "checkbox",
          "id": "show_collection_link",
          "label": "Show link to collection",
          "default": true
        },
        {
          "id": "cta_text",
          "type": "text",
          "label": "Link text",
          "default": "Shop now"
        }
      ]
    }
  ]
}
{% endschema %}