{%- render 'cascade' -%}

{% schema %}
{
  "name": "Page template - cascade",
  "settings": [
    {
       "type": "select",
       "id": "first_item",
       "label": "First block position",
       "options": [
          { "value": "left", "label": "Top left"},
          { "value": "right", "label": "Top right"}
       ]
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Size"
          },
          {
            "type": "select",
            "id": "block_width_mobile",
            "options": [
              { "value": "half", "label": "Half width"},
              { "value": "full", "label": "Full width"}
            ],
            "label": "Mobile"
          },
          {
            "type": "select",
            "id": "block_width",
            "options": [
              { "value": "half", "label": "Half width"},
              { "value": "full", "label": "Full width"}
            ],
            "label": "Desktop"
          }
      ]
    },
    {
      "type": "image_text_overlay",
      "name": "Image with Text Overlay",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Image with Text"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "Optional: Call to action link"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Call to action link text",
          "default": "Shop Now"
        },
        {
           "type": "select",
           "id": "section_color",
           "label": "Text color",
           "options": [
             { "value": "primary", "label": "Primary text"},
             { "value": "secondary", "label": "Secondary text"},
             { "value": "tertiary", "label": "Tertiary text"},
             { "value": "white", "label": "White"}
           ]
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Heading or impact text goes here."
        },
        {
           "type": "select",
           "id": "text_align",
           "label": "Text alignment",
           "options": [
             {
               "value": "text-align--left",
               "label": "Left"
             },
             {
               "value": "text-align--center",
               "label": "Center"
             },
             {
               "value": "text-align--right",
               "label": "Right"
             }
           ],
           "default":   "text-align--left"
         },
         {
            "type": "select",
            "id": "font_size",
            "label": "Font size",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ],
            "default":   "default"
          },
         {
           "type": "header",
           "content": "Size"
         },
         {
           "type": "select",
           "id": "block_width_mobile",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Mobile"
         },
         {
           "type": "select",
           "id": "block_width",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Desktop"
         }
      ]
    },
    {
      "type": "rich_text",
      "name": "Heading with text",
      "settings": [
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Heading or impact text goes here."
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "id": "rich_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "header",
          "content": "Call to Action"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "Optional: Call to action link"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Call to action link text",
          "default": "Shop now"
        },
        {
           "type": "select",
           "id": "text_align",
           "label": "Text alignment",
           "options": [
             {
               "value": "text-align--left",
               "label": "Left"
             },
             {
               "value": "text-align--center",
               "label": "Center"
             },
             {
               "value": "text-align--right",
               "label": "Right"
             }
           ],
           "default":   "text-align--left"
         },
         {
           "type": "header",
           "content": "Size"
         },
         {
           "type": "select",
           "id": "block_width_mobile",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Mobile"
         },
         {
           "type": "select",
           "id": "block_width",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Desktop"
         }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "id": "rich_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "header",
          "content": "Call to Action"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "Optional: Call to action link"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Call to action link text",
          "default": "Shop now"
        },
        {
           "type": "select",
           "id": "text_align",
           "label": "Text alignment",
           "options": [
             {
               "value": "text-align--left",
               "label": "Left"
             },
             {
               "value": "text-align--center",
               "label": "Center"
             },
             {
               "value": "text-align--right",
               "label": "Right"
             }
           ],
           "default":   "text-align--left"
         },
         {
           "type": "header",
           "content": "Size"
         },
         {
           "type": "select",
           "id": "block_width_mobile",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Mobile"
         },
         {
           "type": "select",
           "id": "block_width",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Desktop"
         }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "id": "video_url",
          "type": "video_url",
          "label": "Video link",
          "accept": ["youtube", "vimeo"],
          "info": "Accepts URLs from YouTube or Vimeo",
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "checkbox",
          "id": "use_high_res_image",
          "label": "Use high resolution image",
          "info": "Not all YouTube videos have high resolution images, disable this to use default image size.",
          "default": true
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    },
    {
      "type": "product_feature",
      "name": "Product - Feature",
      "settings": [
        {
           "type": "product",
           "id": "product",
           "label": "Choose product:"
        },
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity"
        }
      ]
    },
    {
      "type": "product_simple",
      "name": "Product - Simple",
      "settings": [
        {
         "type": "product",
         "id": "product",
         "label": "Choose product:"
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
           "type": "collection",
           "id": "collection",
           "label": "Choose collection:"
        },
        {
           "type": "select",
           "id": "text_color",
           "label": "Text color",
           "options": [
             { "value": "primary", "label": "Primary text"},
             { "value": "secondary", "label": "Secondary text"},
             { "value": "tertiary", "label": "Tertiary text"},
             { "value": "white", "label": "White"}
           ]
        },
        {
          "type": "checkbox",
          "id": "show_collection_link",
          "label": "Show link to collection",
          "default": true
        },
        {
          "id": "cta_text",
          "type": "text",
          "label": "Link text",
          "default": "Shop now"
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    },
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
         "type": "article",
         "id": "article",
         "label": "Article"
        },
        {
          "type": "checkbox",
          "id": "show_excerpt",
          "label": "Show excerpt",
          "default": true,
          "info": "Will show excerpt if article has one"
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    },
    {
      "type": "section_break",
      "name": "Section Break"
    },
    {
      "type": "custom_html",
      "name": "Custom HTML",
      "settings": [
        {
          "id": "html",
          "type": "html",
          "label": "Custom HTML",
          "default": "<p>Add your custom HTML here.</p>"
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    }
  ]
}
{% endschema %}
