{%- assign section_color = section.settings.color_scheme -%}
<section class="page section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background">
  <div class="max-site-width px2 lg--up--px3">
  {% if template.suffix == 'contact' %}
    {%- render 'page__contact-template',
        section_color: section_color,
    -%}
  {% else %}
    {%- render 'page__template',
        section_color: section_color,
    -%}
  {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Pages",
  "settings": [
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ]
}
{% endschema %}
