<div class="shopify-section index-section">
<div id="raptor_container">
<div id='rap__med__instagram'></div><script async src='https://theraptormedia.com/instagram/embed.js' data-id=''  defer='defer'></script>
</div>
</div>
{% schema %}
{
"name": "Raptor Instagram Widget",
"settings": [
{
"id": "linktext",
"type": "html",
"label": "Embed code",
"default": "Code is added. It will be shown on your website."
}
],
"presets": [
{
"name": "Raptor Instagram Widget",
"category": "Instagram section by Raptor"
}
]
}
{% endschema %}