{%- layout none -%}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Debug</title>
  </head>
  <body>
    <pre>
      {%- for link in linklists['main-menu'].links -%}
      {%- assign child_list_handle = link.title | handleize -%}
      child_list_handle: {{ child_list_handle }}
      link.handle: {{ link.handle }}


      {%- if linklists[link.handle].links != blank -%}
        {%- assign mega_nav = true -%}
        assigned <strong>mega_nav</strong> to <strong>true</strong><br>
        {%- for childlink in linklists[link.handle].links -%}
          {%- if childlink.links == blank -%}
            {%- assign mega_nav = false -%}
            assigned <strong>mega_nav</strong> to <strong>false</strong><br>
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}

      {%- endif -%}
      {%- endfor -%}
    </pre>
  </body>
</html>
