<div class="template-page--root" data-js-class="Page" data-template="wide">
  <h1 class="template-page--heading" data-item="section-heading">
    {{ page.title }}
  </h1>
</div>
{% section 'framework--image-with-text-2' %}
{% section 'framework--image-with-text' %}
<div class="template-page--root" data-js-class="Page" data-template="wide">
  <div data-item="rte-content">
    {{ page.content }}
  </div>
</div>
{% section 'framework--featured-collections' %}
{% section 'framework--image-with-text-3' %}
{% section 'framework--featured-collection' %}
{% section 'framework--newsletter' %}